<configuration debug="false">

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/test-output/logback-async-perf.log</file>
        <bufferSize>256KB</bufferSize>
        <immediateFlush>false</immediateFlush>  
        <append>false</append>
        <encoder>
            <pattern>%d %p [%t] %logger - %m%n</pattern>  
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="FILE" />
    </appender>

    <root level="DEBUG">
        <appender-ref ref="ASYNC" />
    </root>
</configuration>