<configuration debug="FALSE">


	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>target/testlogback.log</file>
		<bufferSize>256KB</bufferSize>
		<immediateFlush>false</immediateFlush>
		<encoder>
			<!-- 2017-02-01 19:19:35,291 DEBUG [ch.qos.logback.FileAppenderBenchmark.logbackFile-jmh-worker-16] 
				FileAppenderBenchmark - This is a debug message -->
			<pattern>%d %5p [%t] %c{0} %X{transactionId} - %m%n</pattern>
		</encoder>
	</appender>

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold>0</discardingThreshold>
		<appender-ref ref="FILE" />
	</appender>

	<root level="DEBUG">
		<appender-ref ref="ASYNC" />
	</root>
</configuration>