<configuration debug="false">
	
	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
	  <discardingThreshold>0</discardingThreshold>
	  <appender-ref ref="FILE" />
	</appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/test-output/logback-async-perf.log</file>
        <bufferSize>256KB</bufferSize>
        <immediateFlush>false</immediateFlush>  
        <append>false</append>
        <encoder>
            <pattern>%d %p [%t] %logger - %m%n</pattern>  
        </encoder>
    </appender>


    <!-- 
        logback-logstash-encoder based Async appender.
     -->
    <appender name="LLE" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
        <!-- wait until space is available in the queue instead of dropping the event -->
        <appendTimeout>-1</appendTimeout>
        <appender-ref ref="LLE-FILE" />
    </appender>
    
    <appender name="LLE-FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/test-output/logback-lle-async-perf.log</file>
        <bufferSize>256KB</bufferSize>
        <immediateFlush>false</immediateFlush>  
        <append>false</append>
        <encoder>
            <pattern>%d %p [%t] %logger - %m%n</pattern>
        </encoder>
    </appender>
        
    
    <root level="DEBUG">
        <appender-ref ref="ASYNC" />
    </root>
    
    
    <!-- LLE benchmark logs against this logger -->
    <logger name="LLE" level="DEBUG" additivity="false">
        <appender-ref ref="LLE" />
    </logger>
    
</configuration>